.app {
  font-family: monospace;
  font-size: 17px;
}

.grow1 {
  flex-grow: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 300px;
  background-color: rgb(210, 215, 243);
  height: 100vh;
}

a {
  text-decoration: none;
  margin: 10px;
  color: black;
}

.d-flex {
  display: flex;
}

.button {
  background-color: rgb(96, 96, 180);
  color: white;
  margin: 10px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(68, 68, 177);
}

.form {
  width: 400px;
  background-color: #e1e8ff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.form > input {
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.form > button {
  padding: 10px;
  background-color: #4a60c6;
  border: none;
  color: white;
  cursor: pointer;
}

.error {
  text-align: center;
  color: red;
  padding: 10px;
}

.photosForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.photosForm > div > input {
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
  flex-grow: 1;
}

.delete {
  height: 40px;
  width: 40px;
  background-color: indianred;
  color: white;
  cursor: pointer;
}

.photosForm > button {
  padding: 10px;
  background-color: #eea647;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
}

.wrap {
  flex-wrap: wrap;
}

.card {
  height: 300px;
  width: 220px;
  background-color: #e1e8ff;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.singleItem {
  width: 700px;
}

.card > .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  width: 100%;
}

.slider {
  width: 50%;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider > div {
  font-size: 40px;
  padding: 10px;
  color: white;
  cursor: pointer;
}


